@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.timetableView {
  .timetableHeader {
    flex-wrap: nowrap;
    align-items: flex-start;

    button {
      white-space: nowrap;
    }
  }
}
